/QuanLyBenhVien/build/
/QuanLyBenhVien/nbproject/private/
/Java_desktop/QuanLyBenhVien/dist/
/Java_desktop/HospitalManage/nbproject/private/
/Java_desktop/HospitalManage123/nbproject/private/
/Java_desktop/HospitalManage123/build/
/Java_desktop/PhongKham/target/
